$menu-item-active-color: hsl(0, 0%, 21%);
$menu-item-active-background-color: hsl(0, 0%, 96%);

@import 'node_modules/bulma/bulma';

.app-header {
  height: 70px;
  margin-bottom: 20px;
}

.app-logo {
  background-image: url('./images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px
}
